* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dbbaf3 #f3f1f1;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f3f1f1;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #dbbaf3;
    border-radius: 20px;
    border: 3px solid #f3f1f1;
  }

.margin {
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  font-family: 'Oregano', cursive;
  text-align: center;
  background-color: #fef0a9;
}

.bg {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/02/18/25/architecture-2572762_960_720.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  opacity: 0.8;
  z-index: -10;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.7);
    width: 100vw;
    justify-content: center;
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 0px;
    z-index: 1;
}

.menu-lista {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-item ul {
  position: absolute;
  top: 45px;
  float: left;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
}

.nav-item{
  position:relative;
  float:left;
}

.nav-item:hover ul,
.nav-item.over ul{
  display:block;
}

.nav-item ul li{
  display:block;
  width:140px;
  font-size: large;
}

.nav-item {
  padding-right: 10px;
}

.nav-link {
  text-decoration:none;
  padding:5px 10px;
  display:block;
}

.imaginesland-logo {
  position: fixed;
  top: 5px;
  right: 85px;
  color:#dd406d;
  z-index: 1;
}

.contatos {
  height: auto;
  padding: 6em;
	background-color: rgba(205,161,255,0.7);
	color: #18194F;
}

#exibirContatos {
  height: 40vh;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.imagem-contatos {
  height: 100px;
  margin: 10px 0px;
}

.img-contatos {
  border-radius: 25px 25px 25px 25px;
  object-fit: cover;
  height: 100px;
}

.contatos figcaption {
  font-weight: bold;
  font-size: 1.1em;
}

.footer {
  background-color: #F3F1F1;
  padding-top: 10px;
  font-size: 15px;
}

@media (max-width: 399.98px) {
  body {
    font-size: 12px;
  }
  .navbar {
    font-size: large;
  }
  .nav-item ul {
    top: 35px;
  }
  .imaginesland-logo {
    right: 22px;
  } 
  .imagem-contatos {
    max-height: 80px;
    margin-top: 1em;
  }
  #exibirContatos {
    height: 45vh;
    display: grid;
    grid-template-columns: repeat(2, 130px);
  }
}

@media (min-width: 400px) and (max-width: 575.98px){
  body {
    font-size: 14px;
  }
  .nav-item ul {
    top: 45px;
  }
  .imaginesland-logo {
    right: 22px;
  } 
  .imagem-contatos {
    max-height: 80px;
    margin-top: 1em;
  }
  #exibirContatos {
    display: grid;
    grid-template-columns: repeat(2, 185px);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 14px;
  }
  .imaginesland-logo {
    right: 65px;
  }
  .nav-item ul {
    top: 45px;
  }
  .imagem-contatos {
    max-height: 80px;
    margin-top: 1em;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 14px;
  }
  .imaginesland-logo {
    right: 45px;
  }
  .nav-item ul {
    top: 43px;
  }
  .imagem-contatos {
    max-height: 80px;
    margin-top: 1em;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 14px;
  }
  .imaginesland-logo {
    right: 52px;
  }
  .nav-item ul {
    top: 46px;
  }
  .imagem-contatos {
    max-height: 75px;
    margin-top: 1em;
  }
}